<h1>Welcome to User Capture App</h1>
<p>
  <a href="{{ @users_path }}" class="btn btn-primary">View Users</a>
  <a href="{{ @daily_records_path }}" class="btn btn-primary">View Daily Records</a>
</p>
